<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="AzureDevOps" value="https://pkgs.dev.azure.com/goeaway/AlgoTrading/_packaging/algotrading/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <AzureDevOps>
            <add key="Username" value="%AZUREDEVOPS_USERNAME%" />
            <add key="ClearTextPassword" value="%AZUREDEVOPS_PASSWORD%" />
        </AzureDevOps>
    </packageSourceCredentials>
</configuration>